@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: "Neucha", cursive;

}

.App-header {
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 35px;
  margin-top:70px;
  color: black;
  z-index: 1;
  text-align: center;
}

@media (max-width: 2000px){
  /* .App-header{
    margin: 15px 0;
    font-size: 35px;
  } */
}

.left {
  position: absolute;
  left: 10%;
}

.right {
  position: absolute;
  right: 10%;
}

.container{
  top: 140px;
  width: 35%;
  /* height: 100%; */
  z-index: 0;
  background-color: #F5EFE6;
  padding-bottom: 100px;
}

.box{
  width: 70%;
  margin: auto;
  background-color: #e4c494;
}

.slidercontainer{
  margin: 0 0% !important;
  width: 14%;
}